html, body {
    margin: auto;
    max-width: 680px;
    padding:0;
    line-height: 23px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 48px;
}

a {
    color: #ff5722;
    text-decoration: none; /* no underline */
}

