.home {
    font-family: 'Baloo Da 2', sans-serif;
    font-weight: 600;

    .recipe-list {
        margin: 0px 48px 0px 48px;

        .recipe-preview {
            font-size: 19px;
        }
    }
}
