.recipe {
    font-family: 'Baloo Da 2', sans-serif;
    font-weight: 400;

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    img {        
        width: 100%;
        height: auto;
        max-height: 384PX;
        object-fit: cover;
    }

    ul {
        color: #ff5722;
        list-style-type: none;
    }

    ol {
        li {
            margin-bottom: 16px;
        }
    }
}